<table>
    <tr>
        <td>
            <audio controls (play)="song1Playing()" id="song1">
                <source src="./assets/Moonbeam.mp3" type="audio/mpeg">
            </audio>
            <p>Satirical</p>
        </td>
        <td>
            <audio controls (play)="song2Playing()" id="song2">
                <source src="./assets/YumejisTheme.mp3" type="audio/mpeg">
            </audio>
            <p>Poetic</p>
        </td>
        <td>
            <audio controls (play)="song3Playing()" id="song3">
                <source src="./assets/Vivaldi-Spring.mp3" type="audio/mpeg">
            </audio>
            <p>Classic</p>
        </td>
    </tr>
    <tr>
        <td>
            <audio controls (play)="sound1Playing()" id="sound1">
                <source src="./assets/RainSound.mp3" type="audio/mpeg">
            </audio>
            <p>Rain</p>
        </td>
        <td>
            <audio controls (play)="sound2Playing()" id="sound2">
                <source src="./assets/BeachSound.mp3" type="audio/mpeg">
            </audio>
            <p>Beach</p>
        </td>
        <td>
            <audio controls (play)="sound3Playing()" id="sound3">
                <source src="./assets/ThunderStorm.mp3" type="audio/mpeg">
            </audio>
            <p>ThunderStorm</p>
        </td>
    </tr>
</table>