audio::-webkit-media-controls-panel{
    background-color: white;
}
audio::-webkit-media-controls-enclosure {
    border: solid 4px transparent;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
    background-origin: border-box;
}
audio {
    width: 250px;
    height: 40px;
}

p{
    color: white;
    font-weight: bolder;
    font-family: 'Darker Grotesque', sans-serif;
    letter-spacing: 3px;
    font-size: 1.3em;
    align-self: center;
}

.container{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.flex-item{
    flex: 1 1 25%; /*grow | shrink | basis */
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 25px;
}

.audio{
    align-self: center;
}
