<div class="container">
    <div class="flex-item">
        <audio controls (play)="song1Playing()" id="song1" class="audio">
            <source src="./assets/Moonbeam.mp3" type="audio/mpeg">
        </audio> 
        <p>Satirical</p>
    </div>
    <div class="flex-item">
        <audio controls (play)="song2Playing()" id="song2" class="audio">
            <source src="./assets/YumejisTheme.mp3" type="audio/mpeg">
        </audio>
        <p>Poetic</p>
    </div>
    <div class="flex-item">
        <audio controls (play)="song3Playing()" id="song3" class="audio">
            <source src="./assets/Vivaldi-Spring.mp3" type="audio/mpeg">
        </audio>
        <p>Classic</p>
    </div>

    <div class="flex-item">
        <audio controls (play)="sound1Playing()" id="sound1" class="audio">
            <source src="./assets/RainSound.mp3" type="audio/mpeg">
        </audio>
        <p>Rain</p>
    </div>
    <div class="flex-item">
        <audio controls (play)="sound2Playing()" id="sound2" class="audio">
            <source src="./assets/BeachSound.mp3" type="audio/mpeg">
        </audio>
        <p>Beach</p>
    </div>
    <div class="flex-item">
        <audio controls (play)="sound3Playing()" id="sound3" class="audio">
            <source src="./assets/ThunderStorm.mp3" type="audio/mpeg">
        </audio>
        <p>ThunderStorm</p>
    </div>
</div>